<h1>Create a New Tweet</h1>

  <form method="post" action="/tweets">
    <input type="text" name="content" placeholder="Content"><br>
    <br>
    <input type="submit" name="submit" value="submit">
  </form>